.Main-container {
  width: 100vw;
  height: 100vh;
  .contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(247, 247, 247);
    justify-content: space-around;
  }
  .left-side {
    width: 47%;
    height: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    background-color: white;
  }

  form {
    width: 60%;
    height: 60%;
    margin: auto;
  }
  input {
    height: 50px;
    width: 500px;
    padding: 0px 15px;
  }
  ::placeholder {
    margin-left: 10px;
  }
  .btn {
    width: 100px;
    height: 50px;
    background-color: rgb(0, 75, 119);
    font-weight: bold;
    border: none;
    color: rgb(255, 255, 255);
  }

  .btn:hover {
    background-color: rgb(0, 120, 189);
    cursor: pointer;
  }
  .break {
    width: 100%;
    height: 1px;
    margin-top: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .line {
    width: 45%;
    height: 1px;
    background-color: grey;
  }
  .btn2 {
    width: 100px;
    height: 50px;
    background-color: rgb(38, 128, 139);
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(197, 197, 197);
    border: none;
  }
  .account {
    font-size: 18px;
    font-weight: bold;
    color: rgb(65, 65, 65);
  }
  .account a {
    text-decoration: none;
    color: rgb(65, 65, 65);
  }
  .account a:hover {
    color: rgb(0, 0, 0);
  }
  .started-info {
    width: 100%;
    font-size: 19px;
    line-height: 30px;
    font-weight: 500;
    color: rgb(65, 65, 65);
  }
  .container {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1030px) {
  h1 {
    font-size: 55px;
  }
  .account {
    font-size: 15px;
  }
  .line {
    width: 40%;
  }
}
@media screen and (max-width: 730px) {
  h1 {
    font-size: 43px;
  }
  .account {
    font-size: 13px;
  }
  .line {
    width: 35%;
  }
  .btn2 {
    font-size: 12px;
  }
}
@media screen and (max-width: 700px) {
  .right-side {
    width: 95%;
    height: 95%;
    border: 1px solid rgb(207, 207, 207);
    background-color: white;
    // background-image: url(../images//getstarted.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .login-side {
    width: 95%;
    height: 95%;
    border: 1px solid rgb(207, 207, 207);
    background-color: white;
    // background-image: url(../images/signup.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .signup-side {
    width: 95%;
    height: 95%;
    border: 1px solid rgb(207, 207, 207);
    background-color: white;
    // background-image: url(../images/signup.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .account {
    margin-top: -40px;
  }
}
/* @media screen and (max-width: 500px) {
  .right-side {
    width: 95%;
    height: 95%;
    border: 1px solid rgb(207, 207, 207);
    background-color: rgb(131, 11, 11);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .login-side {
    width: 95%;
    height: 95%;
    border: 1px solid rgb(207, 207, 207);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .signup-side {
    width: 95%;
    height: 95%;
    border: 1px solid rgb(207, 207, 207);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .account {
    margin-top: -20px;
  }
} */
@media screen and (max-width: 490px) {
  h1 {
    font-size: 32px;
  }
  .account {
    font-size: 10px;
  }
  .line {
    width: 30%;
  }
  .btn2 {
    font-size: 8px;
  }
}
@media screen and (max-width: 490px) {
  h1 {
    font-size: 25px;
  }
  .account {
    margin-top: -20px;
  }
}

/* Get Started */

@media screen and (max-width: 1400px) {
  .start-head {
    font-size: 36px;
  }
  .started-info p {
    font-size: 17px;
  }
}
@media screen and (max-width: 920px) {
  .start-head {
    font-size: 30px;
  }
  .started-info p {
    font-size: 15px;
  }
  .already-account {
    margin-top: -10px;
  }
}
@media screen and (max-width: 800px) {
  .start-head {
    font-size: 25px;
  }
  .started-info p {
    font-size: 13px;
    line-height: 20px;
  }
  .already-account {
    margin-top: -15px;
    font-size: 14px;
  }
  .warning {
    font-size: 13px;
    height: 40px;
  }
}
@media screen and (max-width: 700px) {
  .start-head {
    font-size: 23px;
  }
  .started-info p {
    font-size: 13px;
  }
  .already-account {
    margin-top: -18px;
  }
  .warning {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  .start-head {
    font-size: 20px;
  }
  .started-info p {
    font-size: 11px;
  }
  .already-account {
    margin-top: -18px;
    font-size: 11px;
  }
  .warning {
    height: 40px;
    font-size: 9px;
  }
}
