.team {
  width: 100%;
  height: 60vh;
  background-color: rgb(182, 211, 223);
  text-align: center;
}
.team-head h4 {
  margin-top: 50px;
  font-weight: bolder;
  color: rgb(0, 103, 163);
}
.team-head h1 {
  font-weight: 900;
  color: rgb(66, 66, 66);
}
.team-members {
  width: 70%;
  height: 40vh;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
