.bar-container {
  height: 40vh;
  // border: 1px solid;
  width: 50vw;
  position: relative;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.chart-bar {
  height: 100%;
  width: 100%;
  position: absolute;
  // margin-left: -200px;
}
.charts {
  height: 100%;
}

.legend {
  display: flex;
  color: #fff;
  height: 7%;
  justify-content: center;
  font-size: 0.8em;
  margin-bottom: 5px;
}
.legend-bar {
  display: flex;
}

.legend-item {
  display: flex;
  margin-right: 20px;
}

.marker {
  margin-right: 5px;
}
.bar-marker {
  height: 18px;
  width: 18px;
}
.line-marker {
  height: 15px;
  width: 15px;
  border: solid 2px;
}
.legend-item-name {
  margin-top: 3px;
}
