@import "./typographyMixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");

.heading1 {
  @include typography("Tinos", 400, 44px, 40px, 0.005px, white);
}
.heading2 {
  @include typography("Tinos", 400, 36px, 20px, 0.005px, black);
}

.heading3 {
  @include typography("Tinos", 400, 30px, 20px, 0.005px, black);
}
.heading4 {
  @include typography("Tinos", 400, 26px, 20px, 0.005px, black);
}
.heading5 {
  @include typography("Tinos", 400, 22px, 20px, 0.005px, black);
}
.heading6 {
  @include typography("Tinos", 400, 20px, 20px, 0.005px, rgb(0, 0, 0));
}
.body1 {
  @include typography("Tinos", 400, 18px, 20px, 0.005px, rgb(173, 173, 173));
}
.subtitle {
  @include typography("Tinos", 400, 14px, 20px, 0.005px, rgb(154, 154, 154));
}

.light {
  font-weight: 400;
}
.semi-bold {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
